//
   Created by joe12 on 4/27/2017.
html
    head
        title io
    body
        script.
            var ip = "!{serverIP}";
        script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
        script(src="javascripts/vector.js")
        script(src="javascripts/player.js")
        script(src="javascripts/client.js")